/* src/features/home/pages/HomePage.css */

.home-container {
  display: flex;
  min-height: 100vh;
  background-color: #faf4f4;
  color: black;
  font-family: "Inter", sans-serif;
  
}

.home-content {
  flex: 1;
  padding: 40px;
  margin-left: 260px;
  overflow-y: auto;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease, width 0.3s ease;
  padding: 40px;
}

.home-content.shifted {
  margin-left: 250px;
  width: calc(100% - 250px);
}

/* When sidebar is collapsed */
.home-content.full {
  margin-left: 60px;
  width: calc(100% - 60px);
}
.home-header {
  margin-bottom: 30px;
}

.home-header h1 {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.home-header p {
  color: black;
}

.stats-section {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  background-color: #4b0b0b;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
  text-align: center;
}

.stat-card h3 {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 10px;
  text-decoration: none;
}
.navlink{
  text-decoration: none;
}
.stat-card:hover{
  cursor: pointer;
  transform: scale(1.1)
}

.stat-number {
  font-size: 2rem;
  font-weight: 600;
  color: #ffdada;
}

.recommend-section {
  background-color: #4b0b0b;
  border-radius: 12px;
  padding: 20px;
}


.recommend-section h2 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  color: white;
}

.recommend-subtitle {
  color: #aaa;
  margin-bottom: 20px;
}

.recommend-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recommend-card {
  background-color: #ffdada;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommend-text h4 {
  font-size: 1rem;
  color: #4b0b0b;
}

.recommend-details {
  font-size: 0.9rem;
  color: #4b0b0b;
}

.recommend-match {
  background-color: #4b0b0b;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #ffdada;
}

/* ===== Search Dropdown Styling ===== */
.search-wrapper {
  position: relative;
  width: 350px;
}

.search-bar {
  width: 332%;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #4b0b0b;
  color: #fff;
  outline: none;
}

.search-bar:focus {
  border-color: #fff;
}

.search-results {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: #ffdada;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
}

.search-result-item {
  padding: 10px 12px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition: background 0.2s ease;
}

.search-result-item:hover {
  background-color: white;
}

.search-result-item strong {
  display: block;
  font-size: 1rem;
  color: #4b0b0b;
}

.search-result-item p {
  color: #4b0b0b;
  font-size: 0.85rem;
  margin-top: 4px;
}

.no-results {
  padding: 12px;
  color: #aaa;
  text-align: center;
}
