.mycorner-container {
  display: flex;
  min-height: 100vh;
  background-color: #faf4f4;
  color:#4b0b0b;
  font-family: "Inter", sans-serif;
}

.mycorner-content {
  flex: 1;
  padding: 40px;
  margin-left: 260px;
  overflow-y: auto;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease, width 0.3s ease;
  padding: 40px;
}

.mycorner-content.shifted {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.mycorner-content.full {
  margin-left: 60px;
  width: calc(100% - 60px);
}


.mycorner-header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.mycorner-header p {
  color: black;
  margin-bottom: 30px;
}

/* === Activity Section === */
.activity-section {
  background-color: #4b0b0b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}
.activity-section h2 {
  color: white;
}

.activity-list {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.activity-item {
  background: #ffdada;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #4b0b0b;
}

/* === Wishlist Section === */
.wishlist-section {
  background-color: #4b0b0b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}
.wishlist-section h2 {
  color: white;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.wishlist-card {
  background-color: #ffdada;
  border-radius: 8px;
  padding: 15px;
  transition: background 0.2s ease;
}

.wishlist-card:hover {
  background-color: white;
  cursor: pointer;
}

.wishlist-card h4 {
  font-size: 1rem;
  color: #4b0b0b;
}

.wishlist-card p {
  color: #4b0b0b;
  font-size: 0.85rem;
}

/* === Ranking Section === */
.ranking-section {
  background-color: #4b0b0b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 40px;
}
.ranking-section h2{
  color: white;
}

.ranking-subtitle {
  color: #aaa;
  margin-bottom: 10px;
}

.ranking-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ranking-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #ffdada;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.rank-number {
  font-weight: bold;
  color: #4b0b0b;
  width: 20px;
  text-align: center;
}

.rank-name {
  flex: 1;
  color: #4b0b0b;
}
